@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@400;600;800&display=swap');


/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
 */
*{
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;

}


body{
    background-color:  #dee1e6b0;

}

header{
    background-image: url('images/fondo9.png');
    background-repeat: no-repeat;
}

header .filter-header{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100vh;
    background-color: rgba(3, 22, 44, 0.616);
    
}



header h1{
    padding-top:2rem;
    color: #f1eded;
    font-family: 'Raleway', sans-serif;
    /* font-family:  'Luckiest Guy', cursive; */
    font-size: 8rem;
    font-weight: 800;

}

header p{
    font-size:1.5rem;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline rgb(226, 84, 37) .2rem;

}

header h1::first-letter{
    color: rgb(226, 84, 37);
    font-family:  'Luckiest Guy', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
}

header nav{
    margin-top: 3.5rem;

}

header nav  a{
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    padding:1rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-decoration: none;
    display:block;
    color:black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    

}

header nav a:hover{
    cursor: pointer;
    background-color:rgb(231, 64, 8);
    color: white;

}

#container-menu{
    margin: 0 auto;
    text-align: center;
    background-color:#ddddddb6;
    padding: 2rem 0rem;

}

#container-menu h2{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    margin: 2rem 0rem;
    padding: 1rem;
    color:white;
    background-color: rgb(231, 64, 8);
}



#container-menu a h3{
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-decoration: none;
    margin-right: 2rem;
    margin-top:1rem;
    font-weight:bold;
    padding:0.8rem;
    display:inline-block;
    color:black;
    cursor:pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}




#menu .img{
  
    padding: 2rem;
    margin-top:3rem;
}

#menu img{
    width: 45rem;
    height: 25rem;

}
.menu-seccion{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:2rem;
    margin: 2rem 8rem;
  /*   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

#menu .solo{
    margin: 0 15rem;
}

.menu-seccion h3{
    font-size: 2.5rem;
    border-bottom: .4rem solid rgb(226, 84, 37)  ;
}
.menu-entrada{
    padding: 1rem;
    background-color: rgba(224, 87, 41, 0);
    margin: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    text-align: left;
}

.menu-entrada div{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.menu-entrada p{
    margin:1.5rem 0;
}

.menu-entrada-container{
    display:flex;
    flex-direction: row;

    
}


.item-menu{
    margin-top:4rem;
    display:row;
    justify-content: center;
    align-items: center;
}

.one, .four{
    grid-column-start: 1;
    grid-column-end: 3;
}

#menu a button{
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    padding:1rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-decoration: none;
    color:black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom:2rem;
}

#menu a button:hover{
    cursor: pointer;
    background-color:rgb(231, 64, 8);
    color: white;
}


footer .footer-filter{
    padding:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     font-family: 'Libre Baskerville', serif;
     background-color: rgba(173, 197, 212, 0.418);
}

footer{
    background-image: url(images/fondo9.png);
    color:white;
}

footer p{
    font-size: 1.2;
    
}

footer a{
  font-size: 2rem;
  padding-left:1.5rem;
  color:rgb(231, 64, 8);
  display: inline-block;
 
}

footer a:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
